.tablaFic{
    height: 45%;
    width: 45%;
    font-size: 15px;
    position: absolute;
    top: 58px;
    //left:50px;
}


.tablaUniversidad{
    width: 45%;
    height: 45%;
    font-size: 15px;
    position:absolute;
    top: 58px;
    left: 650px; 
}

.areaTexto{
    
    position: absolute;
    top: 535px;
}

.cerrarAreaTexto{
    
    position: relative;
    top: 590px;
}


.nuevoAsignatura{
    
    width: 74%;
    font-size: 15px;
}

.multiple{
   width:3% ;
   text-align:center;
}


.nuevoMultiple{
    
    width: 9%;
    font-size: 15px;
    text-align: center;
}

.nuevoCreditos{
    
    width: 9%;
    font-size: 15px;
    text-align: center;
}

.periodo{
    font-size: 15px;
    height: 15%;
    width: 6%;
}

.asignatura{
    
    font-size: 15px;
    height: 20%;
    width: 12%;
  
}

.creditos{
    font-size: 15px;
    height: 15%;
    width: 3%;
    text-align: center;
}

.info{
    text-align: center;
    font-size: 15px;
    width: 3%;
    height: 3%;
    
}




.añadir{
    
    position: absolute;
    top: 535px;
    left: 580px;
    text-align:center; 
}

.tablaEquivalenciasAceptado{
    top: 700px;
    //left: 50px;
    height: 45%;
    width: 45%;
    position:absolute;
    text-align: left;
    font-size: 15px;
  
}

.tablaEquivalenciasAceptadoNuevo{
    top: 700px;
    left: 650px;
    height: 45%;
    width: 50%;
    position:absolute;
    text-align: left;
    font-size: 15px;
  
}
