<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gestordb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">admin</property>
    <mapping resource="entities/Configuracion.hbm.xml"/>
    <mapping resource="entities/Movilidad.hbm.xml"/>
    <mapping resource="entities/Pais.hbm.xml"/>
    <mapping resource="entities/ComentarioAsignatura.hbm.xml"/>
    <mapping resource="entities/Cronica.hbm.xml"/>
    <mapping resource="entities/EstadoMovilidad.hbm.xml"/>
    <mapping resource="entities/Equivalencia.hbm.xml"/>
    <mapping resource="entities/Contrato.hbm.xml"/>
    <mapping resource="entities/MiembroGrupoAsignaturaB.hbm.xml"/>
    <mapping resource="entities/Asignatura.hbm.xml"/>
    <mapping resource="entities/InfoCuenta.hbm.xml"/>
    <mapping resource="entities/Mensaje.hbm.xml"/>
    <mapping resource="entities/Cursoacademico.hbm.xml"/>
    <mapping resource="entities/Estado.hbm.xml"/>
    <mapping resource="entities/Universidad.hbm.xml"/>
    <mapping resource="entities/Usuario.hbm.xml"/>
    <mapping resource="entities/MiembroGrupoAsignaturaA.hbm.xml"/>
    <mapping resource="entities/Curso.hbm.xml"/>
    <mapping resource="entities/Idioma.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
